@import 'bootstrap/bootstrap';
@import 'footable/footable';
body {
	.center-text {
		text-align: center;
	}
	.divider {
		.clearfix();
	}
	#loader-app {
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    background: fade(black, 70%);
	    z-index: 20000;
	    display: none;
	    top: 0;
	    left: 0;
	    i {
	        font-size: 80px;
	        color: white;
	        position: fixed;
	        top: 50%;
	        margin-top: -40px;
	        left: 50%;
	        margin-left: -40px;
	        text-shadow: 0 0 100px black;
	    }
	}
}

section {
	&.search{
		form {
			button {
				margin-top: 10px;
			}
		}
		.results {
			table {
				tr {
					td {
						&:first-child {
							text-align: right;
						}
					}
				}
			}
		}
	}
	&.manager {
		article {
			&.total {
				text-align: center;
				p.number {
					font-size: 60px;
				}
			}
		}
	}
}

footer {
	margin-top: 50px;
}