// VARIABLES
@font-lato: 'Lato', sans-serif;
@font-montserrat: 'Montserrat', sans-serif;
@font-poetsen: 'poetsen_oneregular', sans-serif;

@color-orange: #fe721e;
@color-green: #7bb200;
@color-olive: #8ea35f;

.form-control() {
  display: block;
  width: 100%;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: @input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
  }

  // Reset height for `textarea`s 
  textarea& {
    height: auto;
  }
}

.btn() {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: @btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
  .user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      .tab-focus();
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: @btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    .opacity(.65);
    .box-shadow(none);
  }

  a& {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }
}

.btn-lg() {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @btn-border-radius-large);
}
.btn-sm() {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
}
.btn-xs() {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
}

.poetsen-border(@size) {
    text-shadow: @size 0px 0px white, 
                -@size 0px 0px white, 
                0px @size 0px white, 
                0px -@size 0px white, 
                (@size / 2) (@size / 2) white, 
                -(@size / 2) -(@size / 2) 0 white, 
                (@size / 2) -(@size / 2) 0 white, 
                -(@size / 2) (@size / 2) 0 white, 
                (@size / 2) (@size / 2) (@size / 2 * 10) rgba(0, 0, 0, 0.8);
}

// NAV

// HEADER
body {
    nav.navbar {
        .navbar-brand {
            img {
                @media (max-width: @screen-sm-max) {
                    max-height: 52px;
                    width: auto;
                    margin-top: 5px;
                    margin-left: 15px;
                }
            }
        }
        .navbar-toggle {
            .icon-bar {
                background-color: #1a242f;
            }
        }
    }
    &.page, &.error404 {
        background: #ffe7c8 url(../img/bg_principal.jpg) no-repeat center top;   
        header {
            background: none;
            .container {
                padding-top: 140px;
                padding-bottom: 10px;
                h1 {
                    font-family: @font-poetsen;
                    font-size: 40px;
                    color: @color-orange;
                    line-height: 70px;
                    .poetsen-border(4px);
                    position: relative;
                    top: 25px;
                    .xl {
                        display: block;
                        font-size: 50px;
                    }
                }
                @media (max-width: @screen-sm-max) {
                    padding-top: 80px;
                }
            }
            @media (max-width: @screen-sm-max) {
                img {
                    .center-block();
                    max-height: 280px;
                    max-width: 250px;
                    float: none;    
                }
                .intro-text {
                    .name {
                        width: 100%;
                        font-size: 1.8em;
                    }
                }
            }
        }
        .container {
            &.main {
                background: fade(#ffffff, 90%);
                padding-top: 20px;
                padding-bottom: 20px;
                .box-shadow(0 0 5px fade(black, 20%));
                margin-bottom: 30px;
                h2 {
                    text-align: center;
                    padding: 30px;
                    color: @color-olive;
                    font-size: 50px;
                }
                form {
                    input, select {
                        border: 1px solid @color-olive;
                        margin-bottom: 20px;
                        &.xl{
                            font-size: 24px;
                        }
                    }
                    .divider {
                        margin: 0 auto 20px;
                        height: 1px;
                        width: 100%;
                        background-color: #ddd;
                        float: left;
                        .clearfix();
                    }
                    .form-group {
                        &.error {
                            input, select {
                                border-color: darkred;
                            }
                        }
                    }
                }
                #referidos {
                    .referidos {
                        table {
                            tr {
                                padding: 0;
                                th, td {
                                    input {
                                        margin: 0;
                                        border: none;
                                        background: none;
                                        width: 100%;
                                        &:focus, &:active {
                                            outline: none;
                                        }
                                    }
                                    &:first-child {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                        .adder{
                            margin-top: -21px;
                            .border-top-radius(0);
                            float: right;
                            margin-bottom: 30px;
                        }
                        .inviter {
                            margin-top: 10px;
                        }
                    }
                }
                
            }
        } 
    }
    &.home {
        header {
            @media (min-width: @screen-md-min) {
                min-height: 710px;
            }
        }
        section {
            .container {
                @media (min-width: @screen-md-min) {
                    margin-top: -100px;
                }
            }
        }
    }
    .center-text {
        text-align: center;
        display: block;
    }
    &.error404 {
        header {
            .responsive-invisibility();
        }
    }
}
// FOOTER
footer {
    margin-top: 0;
}
.clearfix {
    .clearfix();
}
.modal {
    &#login-modal {
        .modal-header {
            background-color: @color-green;
            h4 {
                &.modal-title {
                    color: white;
                }
            }
        }
        .modal-body {
            padding: 0;
            ul {
                padding: 0;
                li {
                    margin: 5px 0;
                    font-size: 16px;
                }
                @media (min-width: @screen-md-min) {
                    margin-top: 20px;
                }
            }
            form {
                &.form-signin {
                    margin-top: -20px;
                    padding-bottom: 20px;
                    input {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}
form {
    &.form-signin {
        .form-signin-heading {
            &.logged-in {
                text-transform: capitalize;
            }
        }
        .data {
            color: #333;
            .points {
                font-family: @font-montserrat;
                font-size: 60px;
                span {
                    display: block;
                    font-size: 22px;
                    margin-top: -20px;
                }
            }
            .btn.enviar {
                color: white;
                text-align: center;
                text-transform: uppercase;
                padding: 10px;
            }
        }
    }
    &:not(.form-signin) {
        .form-control, input:not([type="radio"]), input:not([type="checkbox"]) {
            width: 100%;
        }
        input[type="radio"], input[types="checkbox"] {
            margin-left: -21px !important;
        }
        .g-recaptcha div {
            margin: 20px auto;
        }
    }
    .chosen-container {
        height: 45px;
        margin: 15px auto 18px;
        a.chosen-single {
            height: 43px;
            padding: 8px;
            font-size: 15px;
            background: white;
            div {
                b {
                    height: 25px;
                    position: relative;
                    top: 10px;
                }
            }
        }
    }
}
.table-bordered {
    border-color: #d6d6d6;
}
table-bordered>thead>tr>th, .table-bordered>thead>tr>th, table-bordered>tbody>tr>th, .table-bordered>tbody>tr>th, table-bordered>tfoot>tr>th, .table-bordered>tfoot>tr>th, table-bordered>thead>tr>td, .table-bordered>thead>tr>td, table-bordered>tbody>tr>td, .table-bordered>tbody>tr>td, table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>td {
    border-color: #d6d6d6;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e0e0e0;
}

.modal {
    &#loader-modal {
        .progress {
            height: 30px;
            .progress-bar {
                font-size: 20px;
                line-height: 30px;
            }
        }
        ul {
            &.list-group {
                list-style: none;
                li {
                    &:before {
                        content: '';
                    }
                }
            }
        }
    }
}

section {
    &#dashboard {
        .user-points {
            .points {
                .border-top-radius(10px);
                .border-bottom-radius(10px);
                padding: 20px;
                margin-bottom: 20px;
                &.active {
                    background-color: fade(@color-green, 10%);
                    border: 2px solid fade(@color-green, 30%);
                    .point {
                        font-size: 80px;
                    }
                }
                &.pending {
                    background-color: fade(@color-orange, 10%);
                    border: 2px solid fade(@color-orange, 30%);
                    .point {
                        font-size: 34px;
                    }
                }
                h3, h4 {
                    text-align: center;
                    text-transform: uppercase;
                    padding: 0;
                    margin: 0;
                    color: white;
                }
                h3 {
                    font-size: 40px;
                    color: fade(@color-green, 60%);
                }
                h4 {
                    font-size: 26px;
                    color: fade(@color-orange, 60%);
                }
                .point {
                    color: #333;
                    text-align: center;
                }
            }
        }
        section.profile {
            padding-top: 10px;
            padding-bottom: 10px;
            .divider{
                border-top: 1px solid fade(black, 2%);
                margin-top: 10px;
                margin-bottom: 10px;
                .clearfix();
            }
        }
    }
}
.points-story {
    table.table {
        tr, td, th{
            vertical-align: middle;
        }
    }
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
        li {
            display: inline;
            a, span{
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px !important;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none !important;
                background-color: #fff !important;
                border: 1px solid #ddd !important;
            }
            &.disabled {
                a, span, a:hover, a:focus{
                  color: #999999;
                  cursor: default;
                  background-color: transparent;
                }
            }
            &.active {
                a, span, a:hover, a:focus{
                    z-index: 2;
                    color: #666666;
                    cursor: default;
                    background-color: #337ab7;
                    border-color: #337ab7;
                }
            }
        }
    }
    .label {
        padding: 6px;
        font-size: 10px;
        text-align: center;
        display: block;
        text-transform: uppercase;
        &.label-success {
            background-color: @color-green;
        }
    }
}
.text-align-right {
    text-align: right;
}
#loader-app {
    position: fixed;
    width: 100%;
    height: 100%;
    background: fade(black, 70%);
    z-index: 20000;
    display: none;
    top: 0;
    left: 0;
    i {
        font-size: 80px;
        color: white;
        position: fixed;
        top: 50%;
        margin-top: -40px;
        left: 50%;
        margin-left: -40px;
        text-shadow: 0 0 100px black;
    }
}
form.contact-form {
    input, textarea, select {
        .form-control(); 
    }
    textarea {
        min-height: 160px;
    }
    input[type="submit"] {
        .btn();
        .btn-lg();
        .center-block();
    }
    
}