/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    overflow-x: hidden;
}

p {
    font-size: 22px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: swiss_721bold_condensed;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

body.home header {
    text-align: center;
    color: #fff;
    background: url(../img/bg_principal.jpg) no-repeat center top;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;    
	margin-right: 59px;
    float: right;
}

header .intro-text .name {
    display: block;/*
    text-transform: uppercase;*/
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.3em;
    width: 65%;
}

@font-face {
    font-family: 'swiss_721bold_condensed';
    src: url('../fonts/swiss_721_bold_condensed-webfont.eot');
    src: url('../fonts/swiss_721_bold_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swiss_721_bold_condensed-webfont.woff2') format('woff2'),
         url('../fonts/swiss_721_bold_condensed-webfont.woff') format('woff'),
         url('../fonts/swiss_721_bold_condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poetsen_oneregular';
    src: url('../fonts/poetsenone-regular-webfont.eot');
    src: url('../fonts/poetsenone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poetsenone-regular-webfont.woff2') format('woff2'),
         url('../fonts/poetsenone-regular-webfont.woff') format('woff'),
         url('../fonts/poetsenone-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 3em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: -webkit-linear-gradient(#ffe0b3, #fffefe); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffe0b3, #fffefe); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffe0b3, #fffefe); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffe0b3, #fffefe); /* Standard syntax */
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer {
    color: #fff;
    margin-top: 50px;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #333333;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #232323;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.navbar-brand{
	    padding: 0px;
}

.navbar-default{
	    background-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: #055b1c;
	font-family: swiss_721bold_condensed;
    border-right: 1px solid;
}
.navbar-default .navbar-nav > li:last-child a {
    border-right: none;
}

.last a{
	border:none;	
	border: none !important;
}

.izq{
	text-align:left;
}

.supersubsidio {
	position: fixed;
	top: 60%;
	right: 10px;
	height: 30%;
	margin: -15% 0 0 -25%;
}

.poetsen{
	font-family: 'poetsen_oneregular' !important;
	color:#fe721e;
	text-shadow: 4px 0px 0px white, -4px 0px 0px white, 0px 4px 0px white, 0px -4px 0px white, 2px 2px white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 20px rgba(0, 0, 0, 0.8);
}

.participa{
	font-family: swiss_721bold_condensed;
	color:#fe721e;
	text-shadow: 4px 0px 0px white, -4px 0px 0px white, 0px 4px 0px white, 0px -4px 0px white, 2px 2px white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 20px rgba(0, 0, 0, 0.8);
}

.participa p{
	font-family: swiss_721bold_condensed;
	color:#fe721e;
	font-size:2.6em;
	text-shadow: 4px 0px 0px white, -4px 0px 0px white, 0px 4px 0px white, 0px -4px 0px white, 2px 2px white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 20px rgba(0, 0, 0, 0.8);
}

.invitar{
    font-size: 3em;
    margin-top: 125px;
    font-family: swiss_721bold_condensed;
    background-color: #7bb200;
    box-shadow: 0px 7px 0px #628e00;
    border: none;
    padding: 7px 105px;
	}
	
.invitar:hover{
    background-color: #628e00;
    box-shadow: 0px 7px 0px #7bb200;
    box-shadow: 0px;
    border: none;
	}
	
.estrella{
		background:url(../img/estrella.png) no-repeat left top;
	}
	
.interno p{
	color: #333333;
	font-weight:600;
	margin-bottom:30px;
	
}

.vamos{
	background: #fe721e;
}

.vamos h3{
	line-height:55px !important;
	text-align:center;
	margin-bottom:0px;
}

.vamos img{
    margin-top: -14px;
    margin-right: 10px;
}

.blank{
    background-color: #f0eeec;	
}

.active:not(.progress-bar-striped .tab-pane){
    background-color: #e0dedb;	
}
.number{
	color: #fe721e;
	font-weight:bold;
    font-size: 19px;
}

.points{
	color: #fe721e;
	font-weight:bold;
    font-size: 19px;
}

.nombre{
	color: black;
    font-size: 19px;
}

.form-signin-heading{
	background:#e2dfb7;
	color:#a09c6d;
	line-height:55px !important;
	margin-bottom:0px;
    margin-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}

.form-signin-heading img{
	float:right;
    margin-right: -19px;
    margin-top: -25px;
}

.form-signin {
	background:#f4f2d8;
    padding-bottom: 10px;
}

.form-control, input {
	
    margin: 15px auto;
    width: 80%;
}

.enviar
{margin: 15px auto;
    width: 80%;
    font-family: swiss_721bold_condensed;
    background-color: #8ea35f;
    box-shadow: 0px 7px 0px #798b51;
    border: none;
    padding: 7px 105px;
	}
.enviar:hover{
    background-color: #798b51 !important;
    box-shadow: 0px 7px 0px #8ea35f !important;
	}
	
.passrecovery{
	text-align:center;
    width: 100%;
    display: block;
	text-decoration:none;
	color:#708a50;}
	
	.table tr{
		padding:20px;
}

.itemlista{
	font-size: 22px;
	color:white;
	text-decoration:none;
}

.itemlista:hover{
	font-size: 22px;
	color:white;
}

.list-group{
	text-align:left;
	list-style:none;}
	
	

ul.list-group li:before {
  color:#292929; /* set color to red */
  content:"\2022"; /* /2022 is the numerical unicode for &bull; */
  font-size:1.5em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
  padding-right:.25em; /* give the bullet some padding from the text Make sure to use em*/
  position:relative;
    top:.1em; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
}