@font-face {
  font-family: 'footable';
  src: url('../fonts/footable.eot');
  src: url('../fonts/footable.eot?#iefix') format('embedded-opentype'), url('../fonts/footable.woff') format('woff'), url('../fonts/footable.ttf') format('truetype'), url('../fonts/footable.svg#footable') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'footable';
    src: url('../fonts/footable.svg#footable') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
.footable {
  width: 100%;
  /** SORTING **/
  /** PAGINATION **/
}
.footable.breakpoint > tbody > tr.footable-detail-show > td {
  border-bottom: none;
}
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e001";
}
.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}
.footable.breakpoint > tbody > tr > td.footable-cell-detail {
  background: #eee;
  border-top: none;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  display: inline-block;
  font-family: 'footable';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;
  font-size: 14px;
  color: #888888;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
  content: "\e000";
}
.footable.breakpoint.toggle-circle > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e005";
}
.footable.breakpoint.toggle-circle > tbody > tr > td > span.footable-toggle:before {
  content: "\e004";
}
.footable.breakpoint.toggle-circle-filled > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e003";
}
.footable.breakpoint.toggle-circle-filled > tbody > tr > td > span.footable-toggle:before {
  content: "\e002";
}
.footable.breakpoint.toggle-square > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e007";
}
.footable.breakpoint.toggle-square > tbody > tr > td > span.footable-toggle:before {
  content: "\e006";
}
.footable.breakpoint.toggle-square-filled > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e009";
}
.footable.breakpoint.toggle-square-filled > tbody > tr > td > span.footable-toggle:before {
  content: "\e008";
}
.footable.breakpoint.toggle-arrow > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e00f";
}
.footable.breakpoint.toggle-arrow > tbody > tr > td > span.footable-toggle:before {
  content: "\e011";
}
.footable.breakpoint.toggle-arrow-small > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e013";
}
.footable.breakpoint.toggle-arrow-small > tbody > tr > td > span.footable-toggle:before {
  content: "\e015";
}
.footable.breakpoint.toggle-arrow-circle > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e01b";
}
.footable.breakpoint.toggle-arrow-circle > tbody > tr > td > span.footable-toggle:before {
  content: "\e01d";
}
.footable.breakpoint.toggle-arrow-circle-filled > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e00b";
}
.footable.breakpoint.toggle-arrow-circle-filled > tbody > tr > td > span.footable-toggle:before {
  content: "\e00d";
}
.footable.breakpoint.toggle-arrow-tiny > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e01f";
}
.footable.breakpoint.toggle-arrow-tiny > tbody > tr > td > span.footable-toggle:before {
  content: "\e021";
}
.footable.breakpoint.toggle-arrow-alt > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e017";
}
.footable.breakpoint.toggle-arrow-alt > tbody > tr > td > span.footable-toggle:before {
  content: "\e019";
}
.footable.breakpoint.toggle-medium > tbody > tr > td > span.footable-toggle {
  font-size: 18px;
}
.footable.breakpoint.toggle-large > tbody > tr > td > span.footable-toggle {
  font-size: 24px;
}
.footable > thead > tr > th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.footable > thead > tr > th.footable-sortable:hover {
  cursor: pointer;
}
.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before {
  content: "\e013";
}
.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before {
  content: "\e012";
}
.footable > thead > tr > th > span.footable-sort-indicator {
  display: inline-block;
  font-family: 'footable';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-left: 5px;
}
.footable > thead > tr > th > span.footable-sort-indicator:before {
  content: "\e022";
}
.footable > tfoot .pagination {
  margin: 0;
}
.footable.no-paging .hide-if-no-paging {
  display: none;
}
.footable-row-detail-inner {
  display: table;
}
.footable-row-detail-row {
  display: table-row;
  line-height: 1.5em;
}
.footable-row-detail-group {
  display: block;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: bold;
}
.footable-row-detail-name {
  display: table-cell;
  font-weight: bold;
  padding-right: 0.5em;
}
.footable-row-detail-value {
  display: table-cell;
}
.footable-odd {
  background-color: #f7f7f7;
}
@media (max-width: 991px) {
  body nav.navbar .navbar-brand img {
    max-height: 52px;
    width: auto;
    margin-top: 5px;
    margin-left: 15px;
  }
}
body nav.navbar .navbar-toggle .icon-bar {
  background-color: #1a242f;
}
body.page,
body.error404 {
  background: #ffe7c8 url(../img/bg_principal.jpg) no-repeat center top;
}
body.page header,
body.error404 header {
  background: none;
}
body.page header .container,
body.error404 header .container {
  padding-top: 140px;
  padding-bottom: 10px;
}
body.page header .container h1,
body.error404 header .container h1 {
  font-family: 'poetsen_oneregular', sans-serif;
  font-size: 40px;
  color: #fe721e;
  line-height: 70px;
  text-shadow: 4px 0px 0px #ffffff, -4px 0px 0px #ffffff, 0px 4px 0px #ffffff, 0px -4px 0px #ffffff, 2px 2px #ffffff, -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 20px rgba(0, 0, 0, 0.8);
  position: relative;
  top: 25px;
}
body.page header .container h1 .xl,
body.error404 header .container h1 .xl {
  display: block;
  font-size: 50px;
}
@media (max-width: 991px) {
  body.page header .container,
  body.error404 header .container {
    padding-top: 80px;
  }
}
@media (max-width: 991px) {
  body.page header img,
  body.error404 header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 280px;
    max-width: 250px;
    float: none;
  }
  body.page header .intro-text .name,
  body.error404 header .intro-text .name {
    width: 100%;
    font-size: 1.8em;
  }
}
body.page .container.main,
body.error404 .container.main {
  background: rgba(255, 255, 255, 0.9);
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
body.page .container.main h2,
body.error404 .container.main h2 {
  text-align: center;
  padding: 30px;
  color: #8ea35f;
  font-size: 50px;
}
body.page .container.main form input,
body.error404 .container.main form input,
body.page .container.main form select,
body.error404 .container.main form select {
  border: 1px solid #8ea35f;
  margin-bottom: 20px;
}
body.page .container.main form input.xl,
body.error404 .container.main form input.xl,
body.page .container.main form select.xl,
body.error404 .container.main form select.xl {
  font-size: 24px;
}
body.page .container.main form .divider,
body.error404 .container.main form .divider {
  margin: 0 auto 20px;
  height: 1px;
  width: 100%;
  background-color: #ddd;
  float: left;
}
body.page .container.main form .divider:before,
body.error404 .container.main form .divider:before,
body.page .container.main form .divider:after,
body.error404 .container.main form .divider:after {
  content: " ";
  display: table;
}
body.page .container.main form .divider:after,
body.error404 .container.main form .divider:after {
  clear: both;
}
body.page .container.main form .divider:before,
body.error404 .container.main form .divider:before,
body.page .container.main form .divider:after,
body.error404 .container.main form .divider:after {
  content: " ";
  display: table;
}
body.page .container.main form .divider:after,
body.error404 .container.main form .divider:after {
  clear: both;
}
body.page .container.main form .form-group.error input,
body.error404 .container.main form .form-group.error input,
body.page .container.main form .form-group.error select,
body.error404 .container.main form .form-group.error select {
  border-color: darkred;
}
body.page .container.main #referidos .referidos table tr,
body.error404 .container.main #referidos .referidos table tr {
  padding: 0;
}
body.page .container.main #referidos .referidos table tr th input,
body.error404 .container.main #referidos .referidos table tr th input,
body.page .container.main #referidos .referidos table tr td input,
body.error404 .container.main #referidos .referidos table tr td input {
  margin: 0;
  border: none;
  background: none;
  width: 100%;
}
body.page .container.main #referidos .referidos table tr th input:focus,
body.error404 .container.main #referidos .referidos table tr th input:focus,
body.page .container.main #referidos .referidos table tr td input:focus,
body.error404 .container.main #referidos .referidos table tr td input:focus,
body.page .container.main #referidos .referidos table tr th input:active,
body.error404 .container.main #referidos .referidos table tr th input:active,
body.page .container.main #referidos .referidos table tr td input:active,
body.error404 .container.main #referidos .referidos table tr td input:active {
  outline: none;
}
body.page .container.main #referidos .referidos table tr th:first-child,
body.error404 .container.main #referidos .referidos table tr th:first-child,
body.page .container.main #referidos .referidos table tr td:first-child,
body.error404 .container.main #referidos .referidos table tr td:first-child {
  text-align: center;
}
body.page .container.main #referidos .referidos .adder,
body.error404 .container.main #referidos .referidos .adder {
  margin-top: -21px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  float: right;
  margin-bottom: 30px;
}
body.page .container.main #referidos .referidos .inviter,
body.error404 .container.main #referidos .referidos .inviter {
  margin-top: 10px;
}
@media (min-width: 992px) {
  body.home header {
    min-height: 710px;
  }
}
@media (min-width: 992px) {
  body.home section .container {
    margin-top: -100px;
  }
}
body .center-text {
  text-align: center;
  display: block;
}
body.error404 header {
  display: none !important;
}
footer {
  margin-top: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.modal#login-modal .modal-header {
  background-color: #7bb200;
}
.modal#login-modal .modal-header h4.modal-title {
  color: white;
}
.modal#login-modal .modal-body {
  padding: 0;
}
.modal#login-modal .modal-body ul {
  padding: 0;
}
.modal#login-modal .modal-body ul li {
  margin: 5px 0;
  font-size: 16px;
}
@media (min-width: 992px) {
  .modal#login-modal .modal-body ul {
    margin-top: 20px;
  }
}
.modal#login-modal .modal-body form.form-signin {
  margin-top: -20px;
  padding-bottom: 20px;
}
.modal#login-modal .modal-body form.form-signin input {
  margin-top: 30px;
}
form.form-signin .form-signin-heading.logged-in {
  text-transform: capitalize;
}
form.form-signin .data {
  color: #333;
}
form.form-signin .data .points {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
}
form.form-signin .data .points span {
  display: block;
  font-size: 22px;
  margin-top: -20px;
}
form.form-signin .data .btn.enviar {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
form:not(.form-signin) .form-control,
form:not(.form-signin) input:not([type="radio"]),
form:not(.form-signin) input:not([type="checkbox"]) {
  width: 100%;
}
form:not(.form-signin) input[type="radio"],
form:not(.form-signin) input[types="checkbox"] {
  margin-left: -21px !important;
}
form:not(.form-signin) .g-recaptcha div {
  margin: 20px auto;
}
form .chosen-container {
  height: 45px;
  margin: 15px auto 18px;
}
form .chosen-container a.chosen-single {
  height: 43px;
  padding: 8px;
  font-size: 15px;
  background: white;
}
form .chosen-container a.chosen-single div b {
  height: 25px;
  position: relative;
  top: 10px;
}
.table-bordered {
  border-color: #d6d6d6;
}
table-bordered > thead > tr > th,
.table-bordered > thead > tr > th,
table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > th,
table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > th,
table-bordered > thead > tr > td,
.table-bordered > thead > tr > td,
table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > td,
table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #d6d6d6;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e0e0e0;
}
.modal#loader-modal .progress {
  height: 30px;
}
.modal#loader-modal .progress .progress-bar {
  font-size: 20px;
  line-height: 30px;
}
.modal#loader-modal ul.list-group {
  list-style: none;
}
.modal#loader-modal ul.list-group li:before {
  content: '';
}
section#dashboard .user-points .points {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
section#dashboard .user-points .points.active {
  background-color: rgba(123, 178, 0, 0.1);
  border: 2px solid rgba(123, 178, 0, 0.3);
}
section#dashboard .user-points .points.active .point {
  font-size: 80px;
}
section#dashboard .user-points .points.pending {
  background-color: rgba(254, 114, 30, 0.1);
  border: 2px solid rgba(254, 114, 30, 0.3);
}
section#dashboard .user-points .points.pending .point {
  font-size: 34px;
}
section#dashboard .user-points .points h3,
section#dashboard .user-points .points h4 {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: white;
}
section#dashboard .user-points .points h3 {
  font-size: 40px;
  color: rgba(123, 178, 0, 0.6);
}
section#dashboard .user-points .points h4 {
  font-size: 26px;
  color: rgba(254, 114, 30, 0.6);
}
section#dashboard .user-points .points .point {
  color: #333;
  text-align: center;
}
section#dashboard section.profile {
  padding-top: 10px;
  padding-bottom: 10px;
}
section#dashboard section.profile .divider {
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  margin-top: 10px;
  margin-bottom: 10px;
}
section#dashboard section.profile .divider:before,
section#dashboard section.profile .divider:after {
  content: " ";
  display: table;
}
section#dashboard section.profile .divider:after {
  clear: both;
}
section#dashboard section.profile .divider:before,
section#dashboard section.profile .divider:after {
  content: " ";
  display: table;
}
section#dashboard section.profile .divider:after {
  clear: both;
}
.points-story table.table tr,
.points-story table.table td,
.points-story table.table th {
  vertical-align: middle;
}
.points-story .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.points-story .pagination li {
  display: inline;
}
.points-story .pagination li a,
.points-story .pagination li span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px !important;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
}
.points-story .pagination li.disabled a,
.points-story .pagination li.disabled span,
.points-story .pagination li.disabled a:hover,
.points-story .pagination li.disabled a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}
.points-story .pagination li.active a,
.points-story .pagination li.active span,
.points-story .pagination li.active a:hover,
.points-story .pagination li.active a:focus {
  z-index: 2;
  color: #666666;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.points-story .label {
  padding: 6px;
  font-size: 10px;
  text-align: center;
  display: block;
  text-transform: uppercase;
}
.points-story .label.label-success {
  background-color: #7bb200;
}
.text-align-right {
  text-align: right;
}
#loader-app {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20000;
  display: none;
  top: 0;
  left: 0;
}
#loader-app i {
  font-size: 80px;
  color: white;
  position: fixed;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -40px;
  text-shadow: 0 0 100px black;
}
form.contact-form input,
form.contact-form textarea,
form.contact-form select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
form.contact-form input:focus,
form.contact-form textarea:focus,
form.contact-form select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
form.contact-form input::-moz-placeholder,
form.contact-form textarea::-moz-placeholder,
form.contact-form select::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
form.contact-form input:-ms-input-placeholder,
form.contact-form textarea:-ms-input-placeholder,
form.contact-form select:-ms-input-placeholder {
  color: #999999;
}
form.contact-form input::-webkit-input-placeholder,
form.contact-form textarea::-webkit-input-placeholder,
form.contact-form select::-webkit-input-placeholder {
  color: #999999;
}
form.contact-form input[disabled],
form.contact-form textarea[disabled],
form.contact-form select[disabled],
form.contact-form input[readonly],
form.contact-form textarea[readonly],
form.contact-form select[readonly],
fieldset[disabled] form.contact-form input,
fieldset[disabled] form.contact-form textarea,
fieldset[disabled] form.contact-form select {
  background-color: #eeeeee;
  opacity: 1;
}
form.contact-form input[disabled],
form.contact-form textarea[disabled],
form.contact-form select[disabled],
fieldset[disabled] form.contact-form input,
fieldset[disabled] form.contact-form textarea,
fieldset[disabled] form.contact-form select {
  cursor: not-allowed;
}
textareaform.contact-form input,
textareaform.contact-form textarea,
textareaform.contact-form select {
  height: auto;
}
form.contact-form textarea {
  min-height: 160px;
}
form.contact-form input[type="submit"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form.contact-form input[type="submit"]:focus,
form.contact-form input[type="submit"]:active:focus,
form.contact-form input[type="submit"].active:focus,
form.contact-form input[type="submit"].focus,
form.contact-form input[type="submit"]:active.focus,
form.contact-form input[type="submit"].active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
form.contact-form input[type="submit"]:hover,
form.contact-form input[type="submit"]:focus,
form.contact-form input[type="submit"].focus {
  color: #333333;
  text-decoration: none;
}
form.contact-form input[type="submit"]:active,
form.contact-form input[type="submit"].active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
form.contact-form input[type="submit"].disabled,
form.contact-form input[type="submit"][disabled],
fieldset[disabled] form.contact-form input[type="submit"] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
aform.contact-form input[type="submit"].disabled,
fieldset[disabled] aform.contact-form input[type="submit"] {
  pointer-events: none;
}
